/* fragment taken from https://github.com/javierbyte/cutereset/blob/master/cutereset.less */
html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
